<div class="container">
  <div
    class="grid grid-cols-1 text-center md:grid-cols-2 lg:text-left lg:grid-cols-3 gap-4 px-6 py-12"
  >
    <div class="col-span-1 lg:col-span-2 flex justify-center">
      <img
        [src]="productItem.imageCover"
        class="max-h-[90vh] object-cover rounded"
      />
    </div>
    <div class="flex flex-col justify-center">
      <div class="p-4">
        <h2 class="text-[35px] md:text-[40px] font-bold">
          {{ productItem?.title }}
        </h2>
        <p class="mb-4">
          {{ productItem?.description }}
        </p>
        <div class="mb-6 mt-10">
          <span class="text-[19px] font-bold">
            LE {{ productItem?.price }} EGP
          </span>
          <p class="text-[0.9rem]">
            Tax included. Shipping calculated at checkout.
          </p>
        </div>
        <span class="">Quantity : </span>
        <div
          class="flex justify-between items-center w-28 h-12 p-4 rounded-3xl border-2 border-[#252525] text-white mt-2 mb-6"
        >
          <i class="fa-solid fa-minus text-xl cursor-pointer text-main"></i>
          <span class="text-xl text-main">20</span>
          <i class="fa fa-plus text-xl cursor-pointer text-main"></i>
        </div>
        <div class="flex justify-between items-center">
          <button
            class="bg-main text-white w-full rounded-3xl px-4 py-2 text-lg capitalize"
            (click)="addProductToCart(productItem._id)"
          >
            add to cart
          </button>
          <i
            class="fa-regular fa-heart cursor-pointer text-main ml-4 text-[1.8rem]"
            [class.fa-solid]="
              this.WishlistService.wishArray.includes(productItem._id)
            "
            [class.text-heart]="
              this.WishlistService.wishArray.includes(productItem._id)
            "
            (click)="addProductToWish(productItem._id)"
          ></i>
        </div>
      </div>
    </div>
  </div>
</div>
