<div class="min-h-[80vh] p-10 bg-main flex flex-col justify-between">
  <div class="grid grid-cols-1 md:grid-cols-3 capitalize">
    <div class="text-white mb-4">
      <h3 class="text-2xl font-bold mb-6">explore</h3>
      <ul class="text-[15px]">
        <li>
          <a>Men's Fashion</a>
        </li>
        <li>
          <a>Women's Fashion</a>
        </li>

        <li>
          <a>Baby & Toys</a>
        </li>
        <li>
          <a>SuperMarket</a>
        </li>
        <li>
          <a>Beauty & Health</a>
        </li>
        <li>
          <a>Books</a>
        </li>
      </ul>
    </div>
    <div class="text-white mb-4">
      <h3 class="text-2xl font-bold mb-6">links</h3>
      <ul class="text-[15px]">
        <li>
          <a> home </a>
        </li>
        <li>
          <a> products </a>
        </li>
        <li>
          <a> categories </a>
        </li>
        <li>
          <a> brands </a>
        </li>
      </ul>
    </div>
    <div class="text-white mb-4">
      <h3 class="text-2xl font-bold mb-6">about us</h3>
      <p class="font-[15px]">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sunt
        necessitatibus in. Expedita ducimus mollitia iste esse et beatae
        suscipit inventore? Atque, aliquam assumenda. Sunt nisi aut corrupti
        numquam animi?
      </p>
    </div>
  </div>
  <div class="text-white">
    <div class="mb-2">
      <i class="fa-brands fa-facebook mr-4 text-xl cursor-pointer"></i>
      <i class="fa-brands fa-twitter mr-4 text-xl cursor-pointer"></i>
      <i class="fa-brands fa-youtube text-xl cursor-pointer"></i>
    </div>
    <div>© 2024 <strong>Samir Mashady</strong>. All rights reserved.</div>
  </div>
</div>
