<div class="relative">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img
        src="https://images.unsplash.com/photo-1445205170230-053b83016050?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="h-[100vh] object-cover"
        width="100%"
      />
    </ng-template>
    <ng-template carouselSlide>
      <img
        src="https://images.unsplash.com/photo-1556742111-a301076d9d18?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="h-[100vh] object-cover"
        width="100%"
      />
    </ng-template>
    <ng-template carouselSlide>
      <img
        src="https://images.unsplash.com/photo-1601924994987-69e26d50dc26?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="h-[100vh] object-cover"
        width="100%"
      />
    </ng-template>
    <ng-template carouselSlide>
      <img
        src="https://images.unsplash.com/photo-1532795986-dbef1643a596?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        class="h-[100vh] object-cover"
        width="100%"
      />
    </ng-template>
  </owl-carousel-o>
</div>
<div
  class="bg-main text-white flex flex-col justify-center items-center py-12 h-[300px]"
>
  <h2 class="text-xl md:text-3xl font-bold capitalize mb-4">
    get a colections of products from every type
  </h2>
  <p class="capitalize mb-6">enjoy the journey</p>
  <div>
    <button class="border-2 rounded-3xl px-4 py-2 text-lg capitalize">
      <a routerLink="/products">explore products now</a>
    </button>
  </div>
</div>
