<div class="flex flex-col justify-center items-center my-[4rem] min-h-[60vh]">
  <h1 class="text-4xl font-bold mb-10">Login</h1>
  <div class="flex flex-col">
    <input
      autofocus
      type="email"
      placeholder="Email"
      class="border-[1px] border-[#252525] text-xl px-4 w-[450px] h-12 rounded-3xl text-main placeholder:text-[#252525] mb-6"
    />
    <input
      autofocus
      type="password"
      placeholder="Password"
      class="border-[1px] border-[#252525] text-xl px-4 w-[450px] h-12 rounded-3xl text-main placeholder:text-[#252525]"
    />
  </div>
  <div class="w-[450px] mt-2">
    <span class="underline cursor-pointer ml-2">forget your password</span>
  </div>
  <button
    class="border-2 bg-main text-white rounded-3xl px-6 py-2 text-lg capitalize mt-6 w-[450px] min-h-12"
  >
    Login
  </button>
  <span class="underline cursor-pointer">
    <a routerLink="/register">create an account</a>
  </span>
</div>
