/**
 *      Don't overwrite ##### main design rules #####
 *
 * main color: #252525 - gray
 * secondary color: #e58e27 - yellow
 *
 *
 */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
@import url("../src/utils/_owlStyles.scss");
@tailwind base;
@tailwind components;
@tailwind utilities;
$colors: (
  main: #252525,
  secondary: #e58e27,
);
.text-heart {
  color: #dc3545 !important;
}

@each $key, $value in $colors {
  .text-#{$key} {
    color: $value;
  }
  .bg-#{$key} {
    background-color: $value;
  }
  .btn-#{$key} {
    background-color: $value;
  }
}

body {
  font-family: "Encode Sans Expanded", sans-serif;
  /**
   * overflow: hidden;
   */
}
